---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?dt=2023-06-13&hour=23&key=WEATHER_API_KEY&q=41.88425,-87.63245
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/14/2023 04:46:53
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - cbbfe77ce694435b93e617a48bfc0b70
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Chicago","region":"Illinois","country":"United
        States of America","lat":41.88,"lon":-87.63,"tz_id":"America/Chicago","localtime_epoch":1686718013,"localtime":"2023-06-13
        23:46"},"current":{"last_updated":"2023-06-13 23:45","temp_f":62.1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png"},"humidity":84,"feelslike_f":62.1,"vis_miles":9.0,"uv":1.0},"forecast":{"forecastday":[{"date":"2023-06-13","day":{"maxtemp_f":62.1,"mintemp_f":55.2,"totalsnow_cm":0.0,"condition":{"text":"Heavy
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/308.png"}},"astro":{"sunrise":"05:15
        AM","sunset":"08:26 PM"},"hour":[{"time":"2023-06-13 23:00","temp_f":58.5,"condition":{"text":"Light
        rain shower","icon":"//cdn.weatherapi.com/weather/64x64/night/353.png"}}]}]}}'
  recorded_at: Wed, 14 Jun 2023 04:46:53 GMT
recorded_with: VCR 6.1.0
