---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=WEATHER_API_KEY&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/11/2023 16:39:41
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 4f9e340561e647cfe2949f6471d5d55f
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1686501581,"localtime":"2023-06-11
        10:39"},"current":{"last_updated":"2023-06-11 10:30","temp_f":61.0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png"},"humidity":68,"feelslike_f":61.0,"vis_miles":9.0,"uv":4.0},"forecast":{"forecastday":[{"date":"2023-06-11","day":{"maxtemp_f":68.4,"mintemp_f":53.6,"totalsnow_cm":0.0,"condition":{"text":"Heavy
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/308.png"}},"astro":{"sunrise":"05:32
        AM","sunset":"08:28 PM"},"hour":[{"time":"2023-06-11 00:00","temp_f":56.3,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-06-11
        01:00","temp_f":56.1,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-06-11
        02:00","temp_f":55.8,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-06-11
        03:00","temp_f":55.4,"condition":{"text":"Patchy rain possible","icon":"//cdn[...]
