---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=ac8e0ea25f094bad9ea11705231106&q=39.74001,104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/11/2023 04:25:11
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 7c8afec8072ef56791e030bf23cf4869
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Suhaitu","region":"Nei Mongol","country":"China","lat":39.74,"lon":104.99,"tz_id":"Asia/Shanghai","localtime_epoch":1686457511,"localtime":"2023-06-11
        12:25"},"current":{"last_updated":"2023-06-11 12:15","temp_f":84.2,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png"},"humidity":13,"feelslike_f":80.4,"vis_miles":6.0,"uv":7.0},"forecast":{"forecastday":[{"date":"2023-06-11","day":{"maxtemp_f":87.6,"mintemp_f":67.6,"totalsnow_cm":0.0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png"}},"astro":{"sunrise":"05:33
        AM","sunset":"08:26 PM"},"hour":[{"time":"2023-06-11 00:00","temp_f":73.4,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-06-11
        01:00","temp_f":72.1,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-06-11
        02:00","temp_f":72.1,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png"}},{"time":"2023-06-11
        03:00","temp_f":71.1,"condition":{"text":"Clear","icon":"//cdn.weathe[...]
